<header>
  <div class="pull-right">
    <%= link_to admin_products_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      Regresar
    <% end %>
  </div>
  <h1>Crear Producto</h1>
</header>

<%= render 'form' %>